@charset "utf-8";

/* 레이아웃 */
#header {width: 100%; height: 50px;}
#banner {position: relative;}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; /* background:rgba(0,0,0,0.1); */ }

/* 헤더 */
.header h1 {float: left; position: relative;}
.header h1 em {padding: 8px 8px 3px 0px; display: inline-block;}
.header h1 em img {width: 155px; }
.header h1 strong {display: block; position: absolute; left: 170px; top: 14px;}
.header h1 strong img {width: 157px;}
.header .nav {float: right; }
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav li {float: left; width: 85px; text-align: center; border-right: 1px solid #c6c6c6; }
.header .nav li a {display: block; padding: 14px 10px; font-size: 15px; font-weight: 700; color: #444;}

/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px;}
.banner_menu a {color:#fff; font-size: 16px; transition: all 0.3s }
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {padding-top: 7px;}
.banner_menu .bm_left li {display: inline; position: relative;}
.banner_menu .bm_left li {margin-right: 30px;}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total a {font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all 0.3s }
.banner_menu .bm_left li.total a:hover {background: #fff; border-color:#000; color: #000;}
.banner_menu .bm_right {float: right; overflow: hidden;  }
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_right li {position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.purple {margin-right: 0;}
.banner_menu .bm_right li.white a {width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #fff;}
.banner_menu .bm_right li.purple a {width: 80px; background-color: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #6e40c4;}
.banner_menu li.line:after {content:''; width: 1px; height: 14px; background:#fff;position: absolute; right: -18px; top: 2px;}