@charset "utf-8";

/* 레이아웃 */
#mNav {display: none; position: absolute; top: 10px; right: 14px;}
#header {width: 100%; border-bottom: 1px solid #c6c6c6;}
#banner {position: relative;}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0); }

/* 로우 영역 */
.row {padding: 0 28px;}

/* 모바일 메뉴 */
.ham {display: block; width: 25px; height: 10px; background: rgba(0,0,0,0); padding: 15px 10px 10px 10px;}
.ham span {position: relative; display: block; width: 25px; height: 4px; background: #39106a;}
.ham span:before {
    content: '';
    width: 25px; height: 4px; background: #39106a;
    position: absolute; left: 0; bottom: -7px;
}
.ham span:after {
    content: '';
    width: 25px; height: 4px; background: #39106a;
    position: absolute; left: 0; top: -7px;
}

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {padding: 15px 8px 5px 0; display: inline-block;}
.header h1 em img {width: 155px;}
.header h1 strong {display: block; position: absolute; left: 194px; top: 23px;}
.header h1 strong img {width: 126px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6}
.header .nav ul li {float: left; width: 103px; text-align: center; border-right: 1px solid #c6c6c6;}
.header .nav ul li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}

/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px; z-index: 10;}
.banner_menu a {color: #fff; font-size: 16px; transition: all 0.3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {padding-top: 7px;}
.banner_menu .bm_left li {display: inline; position: relative; margin-right: 30px;}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total a {font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all 0.3s;}
.banner_menu .bm_left li.total a:hover {background: #fff; border-color: #000; color: #000;}
.banner_menu .bm_right {float: right; overflow: hidden;}
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_right li {position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #fff;}
.banner_menu .bm_right li.purple {margin-right: 0;}
.banner_menu .bm_right li.purple a {width: 80px; background-color: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #6e40c4;}
.banner_menu li.line:after {content: ''; width: 1px; height: 14px; background: #fff; position: absolute; right: -18px; top: 2px;}

/* 슬라이드 */
.slider {width: 100%; height: 600px;}
.slider .ss1 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}

/* 미디어쿼리 */
@media (max-width: 1290px){
    .container {width: 100%;}
    .header .nav ul li {width: 93px;}
    .header .nav ul li a {font-size: 15px; padding: 17px 10px}
    .header h1 em {padding: 11px 8px 5px 0;}
    .header h1 strong {top: 19px;}
}

@media (max-width: 1024px){
    #mNav {display: block;}
    .nav {display: none;}
    .row {padding: 0 24px;}
    .header h1 {float: none; text-align: center;}
    .header h1 strong {left: 24px;}
}

@media (max-width: 960px){
    
}

@media (max-width: 768px){
    .row {padding: 0 16px;}
    #mNav {right: 6px;}
    .header h1 {text-align: left;}
    .header h1 strong {display: none;}
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    
}



















