@charset "utf-8";

/* 레이아웃 */
#mNav {display: none; position: absolute; top: 10px; right: 14px;}
#header {width: 100%; background-color: #fff; border-bottom: 1px solid #c6c6c6;}
#banner {position: relative;}
#movie {background-color: #f8f8f8;}
#event {}
#opening {margin: 17px 0; background: url(../img/bg01.jpg) no-repeat center top; background-size: cover;}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0); }

/* 로우 영역 */
.row {padding: 0 28px;}

/* 모바일 메뉴 */
.ham {display: block; width: 25px; height: 10px; background: rgba(0,0,0,0); padding: 15px 10px 10px 10px;}
.ham span {position: relative; display: block; width: 25px; height: 4px; background: #39106a;}
.ham span:before {
    content: '';
    width: 25px; height: 4px; background: #39106a;
    position: absolute; left: 0; bottom: -7px;
}
.ham span:after {
    content: '';
    width: 25px; height: 4px; background: #39106a;
    position: absolute; left: 0; top: -7px;
}

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {padding: 15px 8px 5px 0; display: inline-block;}
.header h1 em img {width: 155px;}
.header h1 strong {display: block; position: absolute; left: 194px; top: 23px;}
.header h1 strong img {width: 126px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6}
.header .nav ul li {float: left; width: 103px; text-align: center; border-right: 1px solid #c6c6c6;}
.header .nav ul li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}

/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px; z-index: 10;}
.banner_menu a {color: #fff; font-size: 16px; transition: all 0.3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {padding-top: 7px;}
.banner_menu .bm_left li {display: inline; position: relative; margin-right: 30px;}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total a {font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all 0.3s;}
.banner_menu .bm_left li.total a:hover {background: #fff; border-color: #000; color: #000;}
.banner_menu .bm_right {float: right; overflow: hidden;}
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_right li {position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #fff;}
.banner_menu .bm_right li.purple {margin-right: 0;}
.banner_menu .bm_right li.purple a {width: 80px; background-color: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #6e40c4;}
.banner_menu li.line:after {content: ''; width: 1px; height: 14px; background: #fff; position: absolute; right: -18px; top: 2px;}

/* 슬라이드 */
.slider {width: 100%; height: 600px;}
.slider .ss1 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .swiper-slide h2 {position: relative; display: inline-block; font-size: 62px; line-height: 70px; color: #fff; margin-top: 200px;}
.slider .swiper-slide h2:after {content: ''; width: 100%; height: 1px; background: rgba(255,255,255,0.3); position: absolute; left: 0; bottom: -35px;}
.slider .swiper-slide h2 em {display: block; font-size: 59px; font-weight: 100;}
.slider .swiper-slide p {font-size: 27px; color: #fff; padding-top: 55px;}

/* 무비 */
.movie {padding: 100px 0;}
.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 848px; margin: 0 auto;}
.movie_title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_title li.active a {background: #666; color: #fff;}
.movie_chart {overflow: hidden;}
.movie_chart > div > div > div {float: left; width: 292px; margin-right: 18px;}
.movie_chart > div > div > div:last-child {margin-right: 0;}
.movie_chart > div > div > div .poster {position: relative;}
.movie_chart > div > div > div .poster img {display: block;}
.movie_chart > div > div > div .poster .rank {position: absolute; top: 17px; left: 0; width: 50px; height: 50px; font-size: 22px; box-shadow: 3px 3px 8px rgba(0,0,0,0.5); line-height: 50px; background-color: #38116a; text-align: center;}
.movie_chart > div > div > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 3px rgba(0,0,0,1);}
.movie_chart > div > div > div .poster .mx {position: absolute; top: 17px; right: 17px;}
.movie_chart > div > div > div .poster .mx span {width: 103px; height: 25px; display: block;}
.movie_chart > div > div > div .poster .mx .m {background-position: 0 -75px;}
.movie_chart > div > div > div .poster .mx .b {background-position: 0 -100px;}
.movie_chart > div > div > div .infor {background: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.movie_chart > div > div > div .infor h3 {color: #333; font-size: 30px; font-weight: 700; margin-bottom: 20px;}
.movie_chart > div > div > div .infor h3 strong{}
.movie_chart > div > div > div .infor h3 span {width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: -2px;}
.movie_chart > div > div > div .infor h3 span.all {background-position: -87px -125px;}
.movie_chart > div > div > div .infor h3 span.a12 {background-position: -58px -125px;}
.movie_chart > div > div > div .infor h3 span.a15 {background-position: 0px -125px;}
.movie_chart > div > div > div .infor h3 span.a19 {background-position: -29px -125px;}
.movie_chart > div > div > div .infor .infor_btn {overflow: hidden;}
.movie_chart > div > div > div .infor .infor_btn a {float: left; width: 49%; margin-right: 2%; text-align: center; background: #f2f2f2; font-size: 18px; padding: 15px 0; box-sizing: border-box;}
.movie_chart > div > div > div .infor .infor_btn a:last-child {margin-right: 0;}

/* 이벤트 */
.event {overflow: hidden; padding: 100px 0;}
.event img {display: block;}
.event h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.event .event_left {overflow: hidden; float: left; width: 66%; margin-right: 2%; }
.event .event_left .event_box1 {float: left; width: 50%;}
.event .event_left .event_box2 {float: left; width: 50%;}
.event .event_right {float: left; width: 32%;}

/* 오프닝 */
.opening {padding: 100px 0; text-align: center; color: #bb9b51;}
.opening h2 {margin-bottom: 15px;}
.opening h2 .grand {background-position: 0 -175px; display: inline-block; width: 330px; height: 50px;}
.opening .date {background-position: 0 -225px; display: inline-block; width: 260px; height: 45px;}
.opening .desc {font-size: 35px; font-weight: 300; padding-bottom: 20px; background: url(../img/bar.png) no-repeat bottom center; background-size: 100%;}
.opening .open_box {overflow: hidden; padding: 20px 3% 0 3%;}
.opening .open_box > div {float: left; width: 27.333%; margin: 4% 3% 0 3%; box-sizing: border-box; background: rgba(0,0,0,0.5); border: 1px solid #3e4b44;}
.opening .open_box > div h3 {color: #fff; font-weight: 300; border: 1px solid #6e3abb; margin-top: -24px; font-size: 19px; display: inline-block; padding: 10px 20px; background: #551e9b;}
.opening .open_box > div p {font-size: 23px; color: #fff; font-weight: 700; padding: 6% 0 10% 0;}
.opening .open_box > div em {display: block; font-weight: bold;}
.opening .open_box > div strong {display: block; font-weight: bold;}


/* 미디어쿼리 */
@media (max-width: 1290px){
    .container {width: 100%;}
    .header .nav ul li {width: 93px;}
    .header .nav ul li a {font-size: 15px; padding: 17px 10px}
    .header h1 em {padding: 11px 8px 5px 0;}
    .header h1 strong {top: 19px;}
    
    .swiper-button-prev, .swiper-button-next {display: none;}
}

@media (max-width: 1024px){
    #mNav {display: block;}
    .nav {display: none;}
    .row {padding: 0 24px;}
    .header h1 {float: none; text-align: center;}
    .header h1 strong {left: 24px;}
    
    .banner_menu .bm_left ul {display: none;}
    .banner_menu .bm_right ul:first-child {display: none;}
}

@media (max-width: 960px){
    .slider {height: 500px;}
    .slider .swiper-slide h2 {margin-top: 170px; font-size: 37px; line-height: 45px;}
    .slider .swiper-slide h2:after {bottom: -15px;}
    .slider .swiper-slide h2 em {font-size: 34px;}
    .slider .swiper-slide p {font-size: 16px; padding-top: 35px;}
    
    .movie_title ul {width: auto;}
    .movie_title li {width: 25%; box-sizing: border-box;}
    
    .opening {padding: 50px 0;}
    .opening .open_box {display: none;}
    .opening .desc {background: none; font-size: 25px;}
}

@media (max-width: 768px){
    body {background: #d9d7e0;}
    
    .row {padding: 0 16px;}
    #mNav {right: 6px;}
    .header h1 {text-align: left;}
    .header h1 strong {display: none;}
    
    #movie {background: none;}
    #movie .row {background: #fff; margin: 24px 24px 0px 24px; padding: 24px;}
    #movie .ir_so {position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px;}
    .movie {padding: 0;}
    .movie_title {margin-bottom: 30px;}
    .movie_title ul {position: relative; padding-bottom: 10px;}
    .movie_title ul:before {content: ''; position: absolute; z-index: 1; left: 0; bottom: 0; width: 100%; height: 2px; background: #e1e1e1;}
    .movie_title li {width: auto; border: 0;}
    .movie_title li a {position: relative; font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;}
    .movie_title li.active a:before {content: ''; position: absolute; z-index: 2; left: 0; bottom: -10px; width: 100%; height: 2px; background: #666;}
    .movie_title li.active a {background: none; color: #666;}
    
    #event .row {padding: 24px;}
    .event {padding: 24px; background: #fff;}
    .event h2 {font-size: 24px; font-weight: 700;}
    .event .event_left {width: 100%; margin-right: 0;}
    .event .event_right {display: none;}
    
    #opening {margin: 0;}
}

@media (max-width: 600px){
    .slider {height: 400px;}
    .slider .swiper-slide h2 {margin-top: 140px; font-size: 24px; line-height: 30px;}
    .slider .swiper-slide h2:after {bottom: -5px;}
    .slider .swiper-slide h2 em {font-size: 20px;}
    .slider .swiper-slide p {font-size: 14px; padding-top: 25px;}
    
    .banner_menu {top: 16px;}
    .banner_menu .bm_right li.white a {font-size: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0,0,0,0.6); border-color:#fff;}
    .banner_menu .bm_right li.purple a {font-size: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0,0,0,0.6); border-color:#fff;}
    .swiper-pagination-bullet {width: 13px !important; height: 13px !important;}

    #movie .container {}
    #movie .container:after {content: ''; position: absolute; z-index: 20; top: 0; right: 0; width: 8px; height: 100%; background: #d9d7e0;}
    #movie .row {position: relative; margin: 8px; padding: 16px; margin-right: 0; padding-right: 0;}
    #movie .row:after {content: ''; position: absolute; top: 0; right: 0; z-index: 10; width: 24px; height: 100%; background-color: #fff;}
    #movie .ir_so {font-size: 18px; padding-bottom: 10px;}
    .movie_title {margin-bottom: 20px;}
    .movie_title ul {padding-bottom: 8px; white-space: nowrap; overflow-x: auto;}
    .movie_title li a {font-size: 14px; margin-right: 15px;}
    .movie_title li.active a:before {bottom: -8px;}
    .movie_chart {position: relative; z-index: 30;}
    .movie_chart > div > div > div .infor {padding: 5px;}
    .movie_chart > div > div > div .infor h3 {text-align: center; margin: 5px 0 10px;}
    .movie_chart > div > div > div .infor h3 strong {display: block; font-size: 19px; color: #222; font-weight: 300;}
    .movie_chart > div > div > div .infor h3 span {display: none;}
    .movie_chart > div > div > div .infor .infor_btn a {width: 52%; margin-left: 24%; display: block; margin-right: 0; padding: 5px; color: #777; margin-bottom: 5px; box-sizing: border-box; font-size: 14px; background: none; border: 1px solid #ddd;}
    .movie_chart > div > div > div .infor .infor_btn a:last-child {display: none;}
    
    #event .row {padding: 0 8px;}
    .event {padding: 16px;}
    .event h2 {font-size: 18px; margin-bottom: 10px;}
    
    #opening {margin: 8px 0;}
    .opening {padding: 20px 0;}
    .opening h2 {margin-bottom: 10px;}
    .opening h2 .grand {background-size: 300px; background-position: 0 -105px; width: 197px; height: 24px;}
    .opening .date {display: none}
    .opening .desc {font-size: 16px; font-weight: 400; padding-bottom: 0;}
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    .movie_title li a {margin-right: 9px;}
}



















